<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="no-js layout-article layout-article-{{ page.title | slugify }}">
    <a class="a-skip-to-main" href="#main">Skip to main content</a>
    {% include site-header.html %}

    <main id="main" class="article" role="main">
      <div class="page">
        <div class="wrapper">
            <a href="{{site.baseurl}}/" class="a-back">&larr; Back to home</a>
            <h1>{{ page.title }}</h1>
            {{ content }}        
        </div>
      </div>
    </main>
    {% include site-footer.html %}
    {% include analytics.html %}
    {% include scripts.html %}
  </body>
</html>