<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="no-js layout-feed layout-feed-{{ page.title | slugify }}">
    <a class="a-skip-to-main" href="#main">Skip to main content</a>
    {% include site-header.html %}

    <main id="main" role="main">
      <div class="feed">
        <div class="wrapper">
          {{ content }}        
        </div>
      </div>
    </main>
    {% include site-footer.html %}
    {% include analytics.html %}
    {% include scripts.html %}
  </body>
</html>